h1{
    color:brown;
    background-color:white;
}


p{
    color:green;
    background-color: white;
}

button{
    color:yellow;
    background-color: black;
}


<!-- 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <h1> Danish Umer</h1>
    <h1> Mohammmed</h1>
    <h1>Khan</h1>


    <p>This is paragraph p1</p>
    <p>This is paragraph p2</p>

    <button>submit</button>
</body>
</html>

-->